<html>
<head>
	<title>Najciekawsze ogłoszenia z {{ name }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
{% for ad in ads %}
	<table>
		<tr>
			<th colspan="2">{{ ad.title|raw }}</th>
			<th>{{ ad.price }}</th>
		</tr>
		<tr>
			<td>{{ ad.year }}</td>
			<td>{{ ad.engine }}</td>
			<td>{{ ad.mileage }}</td>
		</tr>
	</table>
{% endfor %}
</body>
</html>